#search-bar {
    text-align: left;
}

#decrypt-bar {
    text-align: left;
}

.flex-container {
    justify-content: center;
    display: flex;
}

.flex-container > div {
    margin: 10px;
    padding: 0px 5%;
}

.messages {
    text-align:left;
}